.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 15%;
  height: 850px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.Intro{
  line-height: 3;
  padding-left: 2.5%;
  display: none;
}

.introText{
  display: block;
  max-width: 80%;
  margin: auto;
}

.introContainer{
}

.homeContainer{
  background-color: rgb(255, 237, 220);
}
